body {
  background-color: black !important;
}
/*Footer*/
.footer a {
  color: rgba(255, 255, 255, 0.5) !important;
  text-decoration: none !important;
}



/*Banner*/
.movie-spotlight {
  position: relative !important;
  height: 70vh;
}

@media only screen and (max-width: 414px) {
  .movie-spotlight {
    position: relative !important;
    height: 33vh;
  }
}


#Hero {
  z-index: 0 !important;
  object-position: center !important;
  object-fit: cover;
  display: block;
  overflow: hidden;
  position: absolute;
}

.banner-title {
  color: white;
}
.banner-title,
.banner-button {
  z-index: 1 !important;
  position: relative !important;
}

/*Modal*/
.rottenTomato {
  color: red;
}

.modal-body,
.modal-header {
  background-color: black;
  color: rgba(255, 255, 255, 0.5);
}
.modal-title {
  padding-left: 0.8rem !important;
  margin-left: 3rem !important;
}


/*Carousel*/

.trending-carousel {
  color: rgba(255, 255, 255, 0.5);
}

.swiper-container {
  width: 100%;
}

.swiper-wrapper {
  padding-inline-start: 0;
  padding: 20px 0;
}

.swiper-slide {
  transition: 250ms all;
}
.swiper-slide:hover {
  transform: scale(1.2);
  z-index: 1;
}

.swiper-slide,
img {
  max-width: 100%;
  height: auto;
}

:root {
  --swiper-theme-color: white !important;
}
