body {
  background-color: black !important; 
}
/*Footer*/
.footer a {
  color: rgba(255, 255, 255, 0.5) !important;
  text-decoration: none !important; 
}

/*Modal*/
.rottenTomato {
  color: red;
}

.modal-body, .modal-header {
  background-color: black;
  color: rgba(255, 255, 255, 0.5);
}

/*Movie spotlight*/
.movie-spotlight {
  position: relative !important;
  height: 105vh;
}
#Hero {
  z-index: 0 !important;
  object-position: center !important;
  object-fit: cover;
  display: block;
  overflow: hidden;
  position: absolute;
}

.banner-title,.banner-button   {
  z-index: 1  !important;
  position: relative !important;
}

/*Carousel*/

.trending-carousel {
  color:rgba(255, 255, 255, 0.5)
}

.swiper-container {
  width: 100%;
}

.swiper-wrapper {
  padding-inline-start:0;
}

.swiper-slide {
  transition: 0.3s;
}
.swiper-slide:hover {
  transform: translate(0, -20px);
}

.swiper-slide, img {
  max-width: 100%;
  height: auto;
}

:root {
  --swiper-theme-color: white;
}